.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

